.header {
  display: grid;
  grid-template-columns: 1fr 5fr;  
  color: white;
  font-size: 16px;
}

.left-header, .right-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 13, 216);
}

.right-header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(206, 4, 4);
}

.right-header .sth-to-do:first-child {
  border-left: 2px solid black; /* Border on the left side of the first container */
}

.right-header .sth-to-do:last-child {
  border-right: none; /* Remove the right border from the last child */
}

.left-header .content,
.right-header .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sth-to-do {
  border-right: 2px solid black;
}

img {
  width: 100px;
  height: 120px;
  object-fit: cover;
}

.web-name {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.sth-to-do p {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.js-dropdown-menu {
  display: flex;
  flex-direction: row; /* Stack the divs horizontally */
  align-items: center; /* Center the items horizontally */
  justify-content: center; /* Center the items vertically */
  flex-wrap: wrap;
}

.chapter-name button {
  padding: 5px 10px; /* Add padding for better appearance */
  margin: 2px;
  border: none;
}

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 15px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 5px;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 10px 18px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 18px;
    min-width: 196px;
  }
}

.button-50 {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button-50:focus {
  text-decoration: none;
}

.button-50:hover {
  text-decoration: none;
}

.button-50:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button-50:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-50 {
    padding: 12px 50px;
  }
}
